<mat-toolbar color="primary" class="mat-elevation-z8">
    <span><mat-icon>home</mat-icon>&nbsp; QualityKaam</span>

    <a mat-button routerLink="" >Home</a>
    <a mat-button routerLink="user" routerLinkActive="active-list-item">User</a>
    <a mat-button routerLink="payment" routerLinkActive="active-list-item">Payment</a>
    <a mat-button routerLink="address" routerLinkActive="active-list-item">Address</a>
    <a mat-button routerLink="schedule" routerLinkActive="active-list-item">Schedule</a>
    <a mat-button routerLink="ticket" routerLinkActive="active-list-item">Ticket</a>
    <a mat-button>Contact</a>
</mat-toolbar>
